#profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}
body {
  color: #212121;
  background-color: #ffffff;
}
#navigation {
  /*margin: 0em 2em 0em;*/
}
#navigation::after {
  content: "";
  clear: both;
  display: block;
}
#navigation .navbar-brand {
  /*float: left;*/
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0rem;
}
#navigation #site-primary-nav {
  /*float: right;*/
  padding: 0rem;
}
#hero-container {
  background-color: #303F9F;
  padding: 3em 0px;
  margin-bottom: 2em;
}
#hero-container::after {
  content: "";
  clear: both;
  display: block;
}
#hero {
  color: #FFFFFF;
  text-align: center;
}
#hero-info {
  text-align: center;
}
#hero-tagline {
  font-size: 1.5rem;
}
#hero-socials {
  margin-top: 1em;
  font-size: 2em;
}
#hero-socials a {
  color: #FFFFFF;
  text-decoration: none;
}
.section-divider {
  border-top: 1px solid #BDBDBD;
  width: 20%;
  margin: 2em auto;
}
.section-title {
  color: #303F9F;
  text-align: center;
}
.project-item img {
  width: 92%;
  height: auto;
}
.project-item .project-title {
  color: #3F51B5;
}
.project-item a.btn {
  background-color: #00BCD4;
  border-color: #00BCD4;
}
#services .service .card-title {
  color: #3F51B5;
  text-align: center;
}
#page-footer {
  color: #FFFFFF;
  background-color: #303F9F;
  padding-top: 2em;
}
#page-footer h2 {
  color: #C5CAE9;
  font-size: 1.5rem;
}
#page-footer #socials {
  text-align: center;
}
#page-footer #socials a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 2em;
}
#page-footer::after {
  content: "";
  clear: both;
  display: block;
}
#page-footer #copyright {
  text-align: center;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
