{% extends "base.html" %}

{% block title %}{{ SITENAME }} -- {{ page.title }}{% endblock title %}

{% block content %}
    <section id="project-details">
        <div class="container">
            <div class="section-w-image">
                <div class="row vtop">
                    <div class="col-lg-7 project-details-image">
                        <div>
                            {% block project_images %}
                            <img src="{{ SITEURL }}/theme/images/ds4windows_preview.png" alt="DS4Windows" class="mb-3 mt-3">
                            <img src="{{ SITEURL }}/theme/images/ds4win_autoprofiles.png" alt="DS4Win Auto Profiles" class="mb-3 mt-3">
                            {% endblock project_images %}
                        </div>
                    </div>
                    <div class="col-lg-5 section-description has-sticky-top">
                        <div class="sticky-top">
                            <h4 class="section-title mb-3">{{ page.title }}</h4>
                            <p class="mb-3">{{ page.content }}</p>
                            <div class="project-info">
                                <div class="info">
                                    <h6 class="mb-1">SKILLS</h6>
                                    <p>{{ page.skills_tags }}</p>
                                </div><!-- / info -->

                                <div class="info">
                                    <h6 class="mb-1">ACTIVE</h6>
                                    <p>{{ page.active_text }}</p>
                                </div><!-- / info -->

                                <div class="info">
                                    <h6 class="mb-1">WEBSITE</h6>
                                    <p><a href="{{ page.project_link }}" class="project-info-link">{{ page.project_site_title }}</a></p>
                                </div><!-- / info -->

                                {#
                                <div class="info social-icons mb-0">
                                    <a href="#x"><i class="fab fa-facebook-f mr-3"></i></a>
                                    <a href="#x"><i class="fab fa-twitter mr-3"></i></a>
                                    <a href="#x"><i class="fab fa-pinterest mr-3"></i></a>
                                    <a href="#x"><i class="fab fa-google-plus-g mr-3"></i></a>
                                </div><!-- / info -->
                                #}
                            </div><!-- / project-info -->
                        </div><!-- / sticky-top -->
                    </div><!-- / section-description -->
                </div><!-- / row -->
            </div>
        </div><!-- / container -->
    </section><!-- / project-details -->
{% endblock content %}

{% block extra_footer_js %}{% endblock extra_footer_js %}

